.restaurants {
  width: 100%;
  position: relative;
  margin-top: 145px;

  .MenuRestaurants {
    margin-bottom: 45px;
    .wrapper1 {
      height: 45px;
      display: flex;
      justify-content: space-between;
    }
  }

  .primal {
    font-family: Poppins;
    font-weight: 600;
    font-size: 35px;
    line-height: 25px;
    color: #323142;
    margin-bottom: 75px;
    span {
      color: #6c5fbc;
    }
  }
  .title {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: #323142;
    margin-bottom: 86px;
    span {
      color: #6c5fbc;
    }
  }
  .view {
    position: absolute;
    right: 0;
    &__items {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    a {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 45px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
      color: #acadb9;
    }
  }
}
