.restaurants {
  width: 100%;
  position: relative;
  margin-top: 145px;
  


  .MenuRestaurants { 
    margin-bottom: 45px;
    .wrapper1 { 
      height: 45px;
      display: flex;
      justify-content: space-between;
    }
  }



  .primal { 
    font-family: Poppins;
    font-weight: 600;
    font-size: 35px;
    line-height: 25px;
    color: #323142;
    margin-bottom: 75px;
    span {
      color: #6c5fbc;
    }
  }
  .title {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: #323142;
    margin-bottom: 86px;
    span {
      color: #6c5fbc;
    }
    
  }
  .block {
    width: 33%;
    max-width: 396px;
    height: 297px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 5.94564151763916px 71.34769439697266px 35.67384719848633px 0px #e5e5e5b2;
    .items {
      padding-left: 32px;
      padding-top: 10px;
      .elements {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .favorite {
          padding-right: 26px;
        }
      }
      .category {
        display: inline-block;
        padding: 3px 8px;
        background-color: #f7edd0;
        border-radius: 5.4px;
        p {
          font-family: Poppins;
          font-size: 13px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0px;
          text-align: left;
          color: #daa31a;
        }
      }
      &__title {
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
        color: #323142;
      }
      .information {
        display: flex;
        gap: 37px;
        .time {
          font-family: Manrope;
          font-size: 19px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0px;
          text-align: left;
          color: #8e97a6;
        }
        .raiting {
          display: flex;
          gap: 6.5px;
          align-items: center;
          &__text {
            font-family: Manrope;
            font-size: 19px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
      }
    }
  }
  .view {
    position: absolute;
    right: 0;
    &__items {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    a {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 45px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
      color: #acadb9;
    }
  }
}
