.primal {
  border: 1px solid #6c5fbc;
  border-radius: 18px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-out;
  .text {
    font-family: 'Inter', sans-serif;
    padding: 17px 26px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #6c5fbc;
    transition: all 0.2s ease-out;
    &:hover {
      color: white;
      transition: all 0.2s ease-out;
    }
  }
  &:hover {
    background-color: #6c5fbc;
    transition: all 0.2s ease-out;
  }
}
.button {
  background-color: #6c5fbc;
  border-radius: 18px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-out;
  .text {
    font-family: 'Inter', sans-serif;
    padding: 17px 26px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #fff;
  }
  &:hover {
    background-color: #9e92ea;
    transition: all 0.2s ease-out;
  }
}
