.SalePanel {
  background-color: #ffffff;
  border-radius: 10px;
  width: 377px;
  height: 570.27px;
  box-shadow: 4.061951637268066px 6.769920349121094px 20.30975914001465px 0.6769919991493225px
    #6c5fbc1f;
  .food { 
    display: flex;
    gap: 15px;
  }
  .pizza {
    width: 67px;
    height: 96px;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    border-radius: 10px;
    background-color: #ffde8a;
    font-family: Poppins;
    color: #d69900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.2s ease;
    &:focus { 
      border: 4px solid #e8c97b;
      transform: scale(1.1);
    }
  }

  .ice{ 
    width: 67px;
    height: 96px;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    border-radius: 10px;
    background-color: rgba(90, 133, 255, 1);
    font-family: Poppins;
    color: rgba(0, 32, 115, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.2s ease;
    &:focus { 
      border: 4px solid rgb(161, 186, 255);
      transform: scale(1.1);
      transition: 0.2s ease;
    }
  }


  .asian { 
    width: 67px;
    height: 96px;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    border-radius: 10px;
    background-color: rgba(247, 197, 186, 1);
    font-family: Poppins;
    color: rgba(251, 71, 29, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.2s;
    &:focus { 
      border: 4px solid rgba(251, 71, 29, 0.5);
      transform: scale(1.1);
    }
  }

  .donat { 
    background: rgba(237, 182, 107, 1);
    width: 67px;
    height: 96px;
    font-weight: 500;
    font-size: 11px;
    line-height: 17px;
    border-radius: 10px;
    font-family: Poppins;
    color: rgba(226, 139, 20, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &:focus { 
      border: 4px solid rgb(246, 168, 59);
      transform: scale(1.1);
      transition: 0.2s ease;
    }
  }

  .SalePanelOne {
    padding: 24px;
  }
  .category {
    color: #323142;
    font-family: Poppins;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 17px;
  }
  .sortBy {
    margin-top: 25px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    color: #323142;
  }
  .allSortBy {
    display: flex;
    justify-content: space-between;
  }
  .sort {
    color: #acadb9;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    width: 105px;
    margin-top: 13px;
  }
  .sortbyDelivery {
    height: 50px;
    margin-right: 15px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    color: #6c5fbc;
    border: none;
  }
  .buttonApply {
    margin-top: 30px;
    border-radius: 20px;
    width: 100%;
    background: #6c5fbc;
    height: 60px;
    color: white;
    font-family: Poppins;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    &:hover {
      background-color: #9e92ea;
      transition: all 0.2s ease-out;
    }
  }
}
