.inputsearch {
  .search {
    width: 100%;
    background-color: #ededed;
    height: 70px;
    border-radius: 10px;
    &:focus {
      color: red;
      padding-left: 91px;
      color: #aaabba;
      font-family: Poppins;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .reg {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 10px;
    width: 382px;
    height: 60px;
    padding: 20px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 17px;
    color: rgba(194, 195, 203, 1);
    &:focus {
      border-color: #6c5fbc;
      padding-left: 25px;
      color: #aaabba;
      font-family: Poppins;
      font-size: 20px;
      line-height: 24px;
    }
    &::placeholder {
      padding-left: 15px;
      color: rgba(194, 195, 203, 1);
      font-family: Poppins;
      font-weight: 600;
      font-size: 17px;
    }
    &:focus::placeholder {
      color: transparent;
    }
  }
  .search:focus::placeholder {
    color: transparent;
  }

  input::placeholder {
    color: #aaabba;
    font-family: Poppins;
    padding-left: 91px;
    font-size: 20px;
    line-height: 24px;
  }

  img {
    position: absolute;
    z-index: 3;
    margin-top: 17px;
    margin-left: 20px;
  }
}
