.banner {
  width: 758px;
  height: 251px;
  background-color: #6c5fbc;
  position: relative;
  border-radius: 19px;
  margin-bottom: 143px;
  .img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .title {
    color: #f7f8fa;
    top: 31px;
    left: 49px;
    font-size: 75px;
    position: absolute;
    max-width: 350px;
    font-family: 'Poppins';
    font-weight: 800;
    p {
      color: #7c6fcd;
    }
  }
  .FoodImg {
    position: absolute;
    z-index: 3;
    left: 410px;
    top: 50px;
  }
  .lines {
    right: -55px;
    position: absolute;
    top: -30px;
  }
}
