.dishes {
  width: 100%;
  position: relative;
  
  .title {
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: #323142;
    span {
      color: #6c5fbc;
    }
  }


  .primal { 
    font-family: Poppins;
    font-weight: 600;
    font-size: 35px;
    line-height: 25px;
    color: #323142;
    margin-bottom: 75px;
    span {
      color: #6c5fbc;
    }
  }



  .MenuDishes { 
    margin-bottom: 5px;
    .wrapper2 {
      display: flex;
      justify-content: space-between;

      }
  }
  .content { 
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 20px;
  }
  .block {
    width: 33%;
    max-width: 224.63px;
    height: 390.36px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 5.94564151763916px 71.34769439697266px 35.67384719848633px 0px #e5e5e5b2;
    .obertka {
      padding-top: 26px;
      .items {
        padding-left: 23px;
        .elements {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .wrapper {
            .price {
              display: flex;
              gap: 45px;
              &__text {
                font-family: Manrope;
                font-size: 26px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: 0px;
                text-align: left;
                color: #121826;
                span {
                  font-family: Manrope;
                  font-size: 19px;
                  font-weight: 700;
                  line-height: 40px;
                  letter-spacing: 0px;
                  text-align: left;
                  color: #8e97a6;
                }
              }
            }
            .information {
              display: flex;
              gap: 6px;
              padding-bottom: 13px;
              .time {
                font-family: Manrope;
                font-size: 17px;
                font-weight: 400;
                line-height: 23px;
                color: #8e97a6;
              }
              .raiting {
                display: flex;
                gap: 6.5px;
                align-items: center;
                &__text {
                  font-family: Manrope;
                  font-size: 17px;
                  font-weight: 400;
                  line-height: 23px;
                  color: #8e97a6;
                }
              }
            }
          }
        }
        .category {
          display: inline-block;
          padding: 3px 8px;
          background-color: #f7edd0;
          border-radius: 5.4px;
          p {
            font-family: Poppins;
            font-size: 11px;
            font-weight: 400;
            color: #daa31a;
          }
        }
        &__title {
          font-family: Poppins;
          font-size: 23px;
          font-weight: 600;
          text-align: left;
          color: #323142;
          padding-bottom: 1px;
        }
      }
    }
  }
  .view {
    position: absolute;
    right: 0;
    &__items {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    a {
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 45px;
      letter-spacing: -0.10000000149011612px;
      text-align: left;
      color: #acadb9;
    }
  }
  
}
